.campSection{
  /* padding: 25px; */
  display: flex;
  flex-direction: column;
}
.campHead{
  background-color: white;
  text-align: center;
  padding: 10px 1px;
  font-family: 'Arial Black';
  display: inline-block;
}
.campBody{
  margin: 10px 10px;
  text-align: center;
  /* border: 1px solid black; */
  padding: 3px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-between;
  align-items: center ;
  gap: 25px;
}

/* Election Card  */
  .election-card{
    border-top: 1.5px solid  rgb(96, 0, 128);
    border-radius: 10px;
    box-shadow: 3px 3px 7px rgb(98, 95, 95);
    background-color: white;
    
    max-width: 200px;
    min-width: 150px;
    
    overflow: hidden;
  }

.icon{
  border-radius: 12px;
  margin-bottom: 8px;
  object-fit: fill;
}
.icon > img{
  /* display: none; */
  width: 100%;
}
.details{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#candidates{
  margin: 0 3px;
  height: 30px;
  color:  rgb(96, 0, 128);
  background-color: transparent;
  border: 1.3px solid  rgb(96, 0, 128);
  border-radius: 10px;

  outline: none;
}
option{
  background-color:  rgb(96, 0, 128);
  color: white;
}

button{
  color: white;
  background-color:  rgb(96, 0, 128);
  border: solid 0px;
  padding: 10px 0px;
  cursor: pointer;
  font-weight: 700;
}

