@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --color-primary: #1b1762;
  --color-secondary: #221d7b;
  --color-accent: #d2a740;

  --color-bg: #f9fafb;
  --white: #ffffff;
  --color-text: #171a29;
  --color-surface: #f8f8f8;

  --border: #cdd3df;
  --roboto: "Roboto",
    sans-serif;
  --poppins: "Poppins",
    sans-serif;
  --color-muted: #6B7280;
  --color-danger: #dc3545;

}

* {
  margin: 0;
  padding: 0;
  font-family: var(--poppins);
}

body {
  box-sizing: border-box;
  background-color: var(--color-bg);
  color: var(--color-text);
  height: 100vh;
  display: flex;
}

main {
  position: relative;
  flex: 1;
  padding-top: 120px;
  padding-left: 190px;
  /* margin-right: 10px; */
  padding-bottom: 50px;
}

a {
  text-decoration: none;
  color: var(--color-primary);
}

.active {
  background-color: var(--color-primary);
  color: var(--color-surface);
  border-left: 2px solid var(--color-secondary);
}

.active:hover {
  border-right: 1px solid var(--color-secondary);
}

#feedback>p {
  text-align: center;
  font-size: 14px;
}

.notisModal {
  position: absolute;
  top: 110px;
  right: 5%;
  transform: translateY(-12px);

  background-color: rgba(160, 107, 29);

  border: 1px solid rgba(210, 218, 101, 0.2);
  box-shadow: 0 3px 5px 0 rgb(0, 0, 0, 0.2);

  color: rgba(242, 241, 241, 0.893);
  font-size: 13px;
  font-weight: 600;
  padding: 16px 20px;
  border-radius: 5px;
  white-space: normal;
  opacity: 0;
  pointer-events: none;
  transition: opacity .45s, transform .3s cubic-bezier(.34, 1.56, .64, 1);
  z-index: 200;
}

.notisModal.show {
  opacity: 1;
  transform: translateY(0);
}

footer {
  background-color: var(--color-primary);
  color: var(--color-surface);
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 500;
  font-size: small;
  position: fixed;
  z-index: 999;
}

footer>div {
  padding: 10px;
}