header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;  
  display: flex;
  z-index: 999;
  padding: 15px;

  border-bottom: 1px solid rgba(17,85,48,0.12);
  border-radius: 5px;

  background-color: var(--color-primary);
  color: var(--color-surface);

}

header{
  display: flex;
  gap: 10px;
  /* width: 100%; */
  align-items: center;
  justify-content: space-between;   
}

.left-section{
  padding-left: 5px;
}
.left-section > img{
  width: 200px;
}

.right-section{
  display: flex;
  padding-right: 10px;
  padding-left: 10px;
  align-items: center;
  justify-content: space-between;
  font-family: 'Franklin Gothic Medium';
  gap: 15px;
  cursor: pointer;
}

.right-section > a{
  color: var(--color-surface);
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
}
.right-section > a:hover{
  /* text-decoration: wavy underline; */
  border: 1.5px solid var(--color-secondary);
  padding: 4px 7px;
  border-radius: 2px;
  transition: .3s;
}