#home-section {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(16, 17, 23, 0.82), rgba(22, 23, 24, 0.95)),
    url('../images/oouhero.jpg') center/cover no-repeat;
}

.hero-content {
  width: min(100%, 900px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
  text-align: center;
  padding: 2rem 1rem;
}

.text-section {
  max-width: 760px;
  font-family: 'Roboto', sans-serif;
  color: white;
  text-align: center;
}

.text-section h2 {
  margin: 0;
  font-size: clamp(2.9rem, 5vw, 5rem);
  line-height: 1.1;
  font-weight: 700;
}

.text-section p {
  margin: 1rem auto 0;
  font-size: clamp(1.1rem, 2vw, 1.25rem);
  line-height: 1.6;
  /* opacity: 0.9; */
  color: var(--color-surface);
}

.cta-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.42s ease-in-out;
  background-color: var(--color-accent);
  border-radius: 5px;
  padding: 20px 22px;
  border: none;
}

.accent {
  color: var(--color-accent);
}

a {
  font-family: 'Poppins', sans-serif;
  color: white;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cta-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(20, 110, 60, 0.25);
  cursor: pointer;
}

.status-ticker {
  font-family: sans-serif;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  position: absolute;
  background-color: var(--color-secondary);
  bottom: 40px;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  color: white;
}

.ticker-label {
  padding: 12px;
  max-width: 120px;
  z-index: 500;
  font-weight: 600;
  border-top-right-radius: 10px;
  border-end-end-radius: 10px;

  background-color: var(--color-danger);
}

.ticker-track {
  flex: 1;
  display: inline-block;
  padding-left: 100%;
  animation: movingText 35s linear infinite;
}

.ticker-track span {
  display: inline-block;
}

@keyframes movingText {
  0% {
    /* opacity: 0; */
    transform: translateX(0);
  }

  100% {
    /* opacity: 1; */
    transform: translateX(-50%);
  }
}