.container{
  display: flex;
    flex-direction: column;
      align-items: center;
        justify-content: center;
          width: 100%;
            font-family: Georgia, Times, serif;
              font-size: 16px;
}
.container-wrapper{
              display: grid;
            grid-template-columns: 200px 1fr;
          align-items: start;
        justify-content: space-between ;
      /* flex-direction: column; */
    margin-top: 20px;
  gap: 5px;

}
.userimg{
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.userimg img{
  width: 150px;
  height: 160px;
  border-radius: 10px;
  border: 2px solid var(--color-secondary);
  object-fit: cover;
}
.userinfor{
  background-image: linear-gradient(90deg, var(--color-primary), var(--color-secondary));
  padding: 25px 10px; 
  /* height: 300px; */
  /* max-width: 470px;
  min-width: 280px; */
  display: grid;
  grid-template-columns:  1fr 1fr;
  border-bottom: 2px solid white;
  gap: 10px;
  color: white;
  border-radius: 10px;
}

.biodata,
.stddata{
  border-left: 1.5px solid;
  margin-right: 5px;
}

.label{
  /* border-bottom: 1.5px solid ;
  border-top: 1.5px solid ;
  border-right: 1.5px solid ; */
  border: 1.5px solid;
  margin-left: -1.1px;
  padding: 4px 25px;
  border-radius: 3px;

}
.stddata > div, 
.biodata > div{
  margin: 20px 5px 30px 20px;
  display: grid;
  justify-content: space-between;
  grid-template-columns: 2fr 3fr;
  gap: 20px;
}
p{
  text-align: right;
}

button{
  font-weight: 700;
  padding: 12px 10px;
  border-radius: 10px;
  background-color:var(--color-primary);
  border: none;
  position: relative;
  left: 50%;
  right: 50%;
  bottom: -20px;
  margin: 0;
  transform: translate(-50%, -50%);
  box-shadow: var(--shadow-sm);
  /* display: none; */
} 
button a{
  color: var(--color-surface);
}
main{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding-top: 0;
  padding-bottom: 0;
}
.no-access{
  position: absolute;
  /* right: 100px; */
  top: 170px;
  color: var(--color-surface);
  display: none;
  flex-direction: column;
  /* text-align: center; */
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 380px;
  height: 530px;
  backdrop-filter: blur(5px);
  background-blend-mode: difference;
  font-size: large;
}
.no-access > div{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.no-access button{
  margin-top: 20px;
  width:100px;
}