nav{
    /* display: none; */
}
main{
    margin: 110px 5px;
  }
   #results {
  /* Main Container */
    margin-left: 191px;
    /* border: 1px solid blue; */
  }
.result{
  background-color: rgba(237, 235, 235, 0.913);
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
  border-radius: 5px;
  box-shadow: inset 1px -1px 10px rgb(60, 165, 18);
  cursor: pointer;
}
section{
  display: none;
  margin-bottom: 20px;
}
.card-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 5px;
  margin: 0 5px ;
  height: auto;
}

.card{
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  border: 1px solid green;
  border-radius: 5px;
  margin-bottom: 8px;
  padding: 3px;
  column-gap: 3px;

  cursor: pointer;
  background-color: rgba(219, 245, 219, 0.884);
}
#avatar{
  border-radius: 5px;
  width: 100%;
  transition: border-radius 400ms;
  object-fit: cover;
  object-position: center; 
  height: 100%;
  /*Playing around 
  border:4px purple solid;
  */
}
#avatar:hover{
  border-radius: 0;
}
.thumbnail{
  position: relative;
}
span::before{
  content: 'Onholly ';
}
span{
  position: absolute;
  bottom: 5px;
  right: 5px;
  background-color: black;
  color: white;
  padding: 2px 3px;
  font-size: 9px;
  font-family: Roboto, Arial;
  border-radius: 35px;
}
.candidate-stat{
  display: grid;
  grid-template-rows: 2fr 1.7fr;
  /* row-gap: 12px; */
}
.candidate-info{
  background-color: white;
  font-weight: 600;
  font-size: 16px;

  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
}
.candName{
    font-weight: 600;
    font-size: 14px;
  }
.candNname{
  background-color: rgba(22, 155, 4, 0.881);
  color: white;
  padding: 2px 4px;
  border-radius: 15px;
  font-size: 11px;
  margin: 0 5px;
}
.candPost{
  font-size: 14px;
  margin-top: 5px;
  font-weight: 800;
  font-style: oblique
}
.candidate-data{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: rgb(96, 96, 96);

}

.vCount{
  font-size: xx-large;
  font-weight: 1000;
  color: green;
}