main{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding-left: 0;
}
.signupMain{
  padding-top: 170px;
  padding-bottom: 50px;
}
.form-container{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  padding: 25px 15px;
  justify-content: center;
  align-items: center;

  background-color: rgba(255, 255, 255, 0.648);
  border-radius: 10px;
  border: 1px solid var(--color-secondary);

  margin-top: 50px;
  margin-bottom: 40px;
  min-width: 280px;
  max-width: 400px;
  flex: 1 1 auto;
}
.title{
  font-weight: 600;
}
.form{
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  align-items: center;
  width: 95%;
  margin-top: 10px;
}
.form label{
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  color: var(--color-primary);
  text-wrap-mode: nowrap;
}
label input,select{
  width: 50%;
  border: var(--color-secondary) 1.5px solid;
  border-radius: 5px;
  padding: 5px;
  outline: none;
}
label select {
  width: 53.5%;
  color: var(--color-surface);
  background-color: var(--color-primary);
  /* border: 0; */
}
label select:hover{
  background-color: azure;
  color: green;
}
button{
  width: 200px;
  padding: 10px 1px;
  border-radius: 20px;
  border: none;
  background-color: var(--color-primary);
  color: var(--color-surface);
  font-weight: 600;
  margin-top: 10px;
}
.terms{
  color: var(--color-primary);
  margin-top: 5px;
} 

.ruler{
  width: 100%;
  height: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ruler > span {
  border-radius: 30px;
  background-color: var(--color-secondary);
  height: 1px;
  width: 48%;
}
.ruler p{
  margin: 0 2px;
}

